# This is Jeopardy!

#### Overview

This project is slightly different than others you have encountered thus far. Instead of a step-by-step tutorial, this project contains a series of open-ended requirements which describe the project you'll be building. There are many possible ways to correctly fulfill all of these requirements, and you should expect to use the internet, Codecademy, and/or other resources when you encounter a problem that you cannot easily solve.

#### Project Goals

You will work to write several functions that investigate a dataset of _Jeopardy!_ questions and answers. Filter the dataset for topics that you're interested in, compute the average difficulty of those questions, and train to become the next Jeopardy champion!

## Prerequisites

In order to complete this project, you should have completed the Pandas lessons in the <a href="https://www.codecademy.com/learn/paths/analyze-data-with-python">Analyze Data with Python Skill Path</a>. You can also find those lessons in the <a href="https://www.codecademy.com/learn/data-processing-pandas">Data Analysis with Pandas course</a> or the <a href="https://www.codecademy.com/learn/paths/data-science/">Data Scientist Career Path</a>.

Finally, the <a href="https://www.codecademy.com/learn/practical-data-cleaning">Practical Data Cleaning</a> course may also be helpful.

## Project Requirements

1. We've provided a csv file containing data about the game show _Jeopardy!_ in a file named `jeopardy.csv`. Load the data into a DataFrame and investigate its contents. Try to print out specific columns.

   Note that in order to make this project as "real-world" as possible, we haven't modified the data at all - we're giving it to you exactly how we found it. As a result, this data isn't as "clean" as the datasets you normally find on Codecademy. More specifically, there's something odd about the column names. After you figure out the problem with the column names, you may want to rename them to make your life easier for the rest of the project.
   
   In order to display the full contents of a column, we've added this line of code for you:
   
   ```py
   pd.set_option('display.max_colwidth', None)
   ```

In [1]:
import pandas as pd
pd.set_option('display.max_colwidth', None)
jeopardy = pd.read_csv('jeopardy.csv')
print(jeopardy.columns)
jeopardy.rename(columns = {"Show Number":"show_number", ' Air Date':'air_date', " Round":"round"," Category":"category"," Value":"value"," Question":"question"," Answer":"answer"}, inplace = True)
print(jeopardy.head(30))

Index(['Show Number', ' Air Date', ' Round', ' Category', ' Value',
       ' Question', ' Answer'],
      dtype='object')
    show_number    air_date             round  \
0          4680  2004-12-31         Jeopardy!
1          4680  2004-12-31         Jeopardy!
2          4680  2004-12-31         Jeopardy!
3          4680  2004-12-31         Jeopardy!
4          4680  2004-12-31         Jeopardy!
5          4680  2004-12-31         Jeopardy!
6          4680  2004-12-31         Jeopardy!
7          4680  2004-12-31         Jeopardy!
8          4680  2004-12-31         Jeopardy!
9          4680  2004-12-31         Jeopardy!
10         4680  2004-12-31         Jeopardy!
11         4680  2004-12-31         Jeopardy!
12         4680  2004-12-31         Jeopardy!
13         4680  2004-12-31         Jeopardy!
14         4680  2004-12-31         Jeopardy!
15         4680  2004-12-31         Jeopardy!
16         4680  2004-12-31         Jeopardy!
17         4680  2004-12-31         Jeopardy!
18         4680  2004-12-31         Jeopardy!
19         4680  2004-12-31         Jeopardy!
20         4680  2004-12-31         Jeopardy!
21         4680  2004-12-31         Jeopardy!
22         4680  2004-12-31         Jeopardy!
23         4680  2004-12-31         Jeopardy!
24         4680  2004-12-31         Jeopardy!
25         4680  2004-12-31         Jeopardy!
26         4680  2004-12-31         Jeopardy!
27         4680  2004-12-31         Jeopardy!
28         4680  2004-12-31         Jeopardy!
29         4680  2004-12-31  Double Jeopardy!

                           category   value  \
0                           HISTORY    $200
1   ESPN's TOP 10 ALL-TIME ATHLETES    $200
2       EVERYBODY TALKS ABOUT IT...    $200
3                  THE COMPANY LINE    $200
4               EPITAPHS & TRIBUTES    $200
5                    3-LETTER WORDS    $200
6                           HISTORY    $400
7   ESPN's TOP 10 ALL-TIME ATHLETES    $400
8       EVERYBODY TALKS ABOUT IT...    $400
9                  THE COMPANY LINE    $400
10              EPITAPHS & TRIBUTES    $400
11                   3-LETTER WORDS    $400
12                          HISTORY    $600
13  ESPN's TOP 10 ALL-TIME ATHLETES    $600
14      EVERYBODY TALKS ABOUT IT...    $600
15                 THE COMPANY LINE    $600
16              EPITAPHS & TRIBUTES    $600
17                   3-LETTER WORDS    $600
18                          HISTORY    $800
19  ESPN's TOP 10 ALL-TIME ATHLETES    $800
20      EVERYBODY TALKS ABOUT IT...    $800
21                 THE COMPANY LINE    $800
22              EPITAPHS & TRIBUTES  $2,000
23                   3-LETTER WORDS    $800
24                          HISTORY   $1000
25  ESPN's TOP 10 ALL-TIME ATHLETES   $1000
26                 THE COMPANY LINE   $1000
27              EPITAPHS & TRIBUTES   $1000
28                   3-LETTER WORDS   $1000
29       DR. SEUSS AT THE MULTIPLEX    $400

                                                                                                                                                                       question  \
0                                                                              For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory
1                                                                   No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves
2                                                                                      The city of Yuma in this state has a record average of 4,055 hours of sunshine each year
3                                                                                          In 1963, live on "The Art Linkletter Show", this company served its billionth burger
4                                                                      Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States
5                                                                                                 In the title of an Aesop fable, this insect shared billing with a grasshopper
6                                                                                                  Built in 312 B.C. to link Rome & the South of Italy, it's still in use today
7                                                                                                        No. 8: 30 steals for the Birmingham Barons; 2,306 steals for the Bulls
8                                                                 In the winter of 1971-72, a record 1,122 inches of snow fell at Rainier Paradise Ranger Station in this state
9                                                                            This housewares store was named for the packaging its merchandise came in & was first displayed on
10                                                                                                                                                             "And away we go"
11                                                                                                    Cows regurgitate this from the first stomach to the mouth & chew it again
12                                                                              In 1000 Rajaraja I of the Cholas battled to take this Indian Ocean island now known for its tea
13                                                       No. 1: Lettered in hoops, football & lacrosse at Syracuse & if you think he couldn't act, ask his 11 "unclean" buddies
14                                                          On June 28, 1994 the nat'l weather service began issuing this index that rates the intensity of the sun's radiation
15                                                                 This company's Accutron watch, introduced in 1960, had a guarantee of accuracy to within one minute a  month
16                                                                                         Outlaw: "Murdered by a traitor and a coward whose name is not worthy to appear here"
17                                                                                                         A small demon, or a mischievous child (who might be a little demon!)
18                                                                                     Karl led the first of these Marxist organizational efforts; the second one began in 1889
19                                                                          No. 10: FB/LB for Columbia U. in the 1920s; MVP for the Yankees in '27 & '36; "Gibraltar in Cleats"
20                                                                   Africa's lowest temperature was 11 degrees below zero in 1935 at Ifrane, just south of Fez in this country
21                                                                                                    Edward Teller & this man partnered in 1898 to sell high fashions to women
22                                                                                         1939 Oscar winner: "...you are a credit to your craft, your race and to your family"
23                                                                         In geologic time one of these, shorter than an eon, is divided into periods & subdivided into epochs
24                                                                                    This Asian political party was founded in 1885 with "Indian National" as part of its name
25                                                                      No. 5: Only center to lead the NBA in assists; track scholarship to Kansas U.; marathoner; volleyballer
26                                                                      The Kirschner brothers, Don & Bill, named this ski company for themselves & the second-highest mountain
27                                                                                                                       Revolutionary War hero: "His spirit is in Vermont now"
28                                                                                                                A single layer of paper, or to perform one's craft diligently
29  <a href="http://www.j-archive.com/media/2004-12-31_DJ_23.mp3">Beyond ovoid abandonment, beyond ovoid betrayal... you won't believe the ending when he "Hatches the Egg"</a>

                                                  answer
0                                             Copernicus
1                                             Jim Thorpe
2                                                Arizona
3                                             McDonald's
4                                             John Adams
5                                                the ant
6                                         the Appian Way
7                                         Michael Jordan
8                                             Washington
9                                         Crate & Barrel
10                                        Jackie Gleason
11                                               the cud
12                                 Ceylon (or Sri Lanka)
13                                             Jim Brown
14                                          the UV index
15                                                Bulova
16                                           Jesse James
17                                                   imp
18                                     the International
19                                          (Lou) Gehrig
20                                               Morocco
21                                         (Paul) Bonwit
22  Hattie McDaniel (for her role in Gone with the Wind)
23                                                   era
24                                    the Congress Party
25                                    (Wilt) Chamberlain
26                                                    K2
27                                           Ethan Allen
28                                                   ply
29                                                Horton

2. Write a function that filters the dataset for questions that contains all of the words in a list of words. For example, when the list `["King", "England"]` was passed to our function, the function returned a DataFrame of 49 rows. Every row had the strings `"King"` and `"England"` somewhere in its `" Question"`.

   Test your function by printing out the column containing the question of each row of the dataset.

In [3]:
def filter_questions(data, words):
    filter = lambda x:all(word.upper() in x.upper() for word in words) 

    return data.loc[data["question"].apply(filter)]
    
     
filtered_data = filter_questions(jeopardy, ["King", "England's"])
print(filtered_data["question"])

4953                                                                                                                                                                                                                                                                      Both England's King George V & FDR put their stamp of approval on this "King of Hobbies"
27555                                                                                                                                                                                                                                                                           This member of the Medici family was the mother-in-law of England's King Charles I
41357                                                                                                                                                                                                                                                     England's King Henry VIII had 3 wives named Catherine:  Catherine Howard, Catherine of Aragon & this one
43122                                                                                                                                                                                                                                                                                                                       The father of England's King Edward VI
51565                                                                                                                                                                                                                                                 He wrote several anthems, including "The King Shall Rejoice", for the coronation of England's King George II
56600                                                                                                                                                                                                                                                              This city known for its 24-hour auto race was the birthplace of England's King Henry II in 1133
57516                                                                                                                                                                                                                                                                                         Famous (& rather insulting) adjective for England's King Ethelred II
71808                                                                                                                                                                                                                                                                                      Number of the William who was England's "Sailor King" from 1830 to 1837
74235                                                                                                                                                                                                                                                                     Barons & churchmen drew up this 1215 document to reduce the power of England's King John
80113                                                                                                                                                                                                                                                                                                England's King Charles II was known by this "jovial" nickname
125822                                                                                                                                                                                                                                                                                              Famous nickname of the eldest son of England's King Edward III
143434                                                                                                                                                                                                                                                                This Flemish artist painted a unique triple portrait of England's King Charles I around 1637
191579                                                                                                                                                                                                                                                                             England's King Harold II lost the all-important Battle of Hastings in this year
192265    (<a href="http://www.j-archive.com/media/2012-01-17_DJ_25.jpg" target="_blank">Sarah of the Clue Crew stands in front of the Royal Palace in Oslo, Norway.</a>) King Harald V lives here, in Norway's Royal Palace. He and his second cousin, England's Queen Elizabeth, are both great-grandchildren of this British king, who ruled from 1901 to 1910.
192966                                                                                                                                                                                                                                                                                                                          England's King _____ _____ R. Luce
Name: question, dtype: object

3. Test your original function with a few different sets of words to try to find some ways your function breaks. Edit your function so it is more robust.

   For example, think about capitalization. We probably want to find questions that contain the word `"King"` or `"king"`.
   
   You may also want to check to make sure you don't find rows that contain substrings of your given words. For example, our function found a question that didn't contain the word `"king"`, however it did contain the word `"viking"` &mdash; it found the `"king"` inside `"viking"`. Note that this also comes with some drawbacks &mdash; you would no longer find questions that contained words like `"England's"`.

In [6]:
##changed word and x to word.upper() and x.upper() 
##in the given scenario both 'King' and 'king' will become 'KING' and hence disregarding the original difference in the capitalization of 'k'.

filtered_data = filter_questions(jeopardy, ["King", "England's"])
print(filtered_data["question"])

4953                                                                                                                                                                                                                                                                      Both England's King George V & FDR put their stamp of approval on this "King of Hobbies"
27555                                                                                                                                                                                                                                                                           This member of the Medici family was the mother-in-law of England's King Charles I
41357                                                                                                                                                                                                                                                     England's King Henry VIII had 3 wives named Catherine:  Catherine Howard, Catherine of Aragon & this one
43122                                                                                                                                                                                                                                                                                                                       The father of England's King Edward VI
51565                                                                                                                                                                                                                                                 He wrote several anthems, including "The King Shall Rejoice", for the coronation of England's King George II
56600                                                                                                                                                                                                                                                              This city known for its 24-hour auto race was the birthplace of England's King Henry II in 1133
57516                                                                                                                                                                                                                                                                                         Famous (& rather insulting) adjective for England's King Ethelred II
71808                                                                                                                                                                                                                                                                                      Number of the William who was England's "Sailor King" from 1830 to 1837
74235                                                                                                                                                                                                                                                                     Barons & churchmen drew up this 1215 document to reduce the power of England's King John
80113                                                                                                                                                                                                                                                                                                England's King Charles II was known by this "jovial" nickname
125822                                                                                                                                                                                                                                                                                              Famous nickname of the eldest son of England's King Edward III
143434                                                                                                                                                                                                                                                                This Flemish artist painted a unique triple portrait of England's King Charles I around 1637
191579                                                                                                                                                                                                                                                                             England's King Harold II lost the all-important Battle of Hastings in this year
192265    (<a href="http://www.j-archive.com/media/2012-01-17_DJ_25.jpg" target="_blank">Sarah of the Clue Crew stands in front of the Royal Palace in Oslo, Norway.</a>) King Harald V lives here, in Norway's Royal Palace. He and his second cousin, England's Queen Elizabeth, are both great-grandchildren of this British king, who ruled from 1901 to 1910.
192966                                                                                                                                                                                                                                                                                                                          England's King _____ _____ R. Luce
Name: question, dtype: object

4. We may want to eventually compute aggregate statistics, like `.mean()` on the `" Value"` column. But right now, the values in that column are strings. Convert the`" Value"` column to floats. If you'd like to, you can create a new column with float values.

   While most of the values in the `" Value"` column represent a dollar amount as a string, note that some do not &mdash; these values will need to be handled differently!

   Now that you can filter the dataset of question, use your new column that contains the float values of each question to find the "difficulty" of certain topics. For example, what is the average value of questions that contain the word `"King"`?
   
   Make sure to use the dataset that contains the float values as the dataset you use in your filtering function.

In [4]:
jeopardy['float_values'] = jeopardy['value'].apply(lambda x: float(x[1:].replace(',','')) if x != 'no value' else 0)
filtered_data = filter_questions(jeopardy, ['King'])
print(filtered_data['float_values'].mean())

print(jeopardy.head())
##confirmed that all the values in the 'value' column are now float values (numbers with decimals)

773.4413965087282
   show_number    air_date      round                         category value  \
0         4680  2004-12-31  Jeopardy!                          HISTORY  $200
1         4680  2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES  $200
2         4680  2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...  $200
3         4680  2004-12-31  Jeopardy!                 THE COMPANY LINE  $200
4         4680  2004-12-31  Jeopardy!              EPITAPHS & TRIBUTES  $200

                                                                                                      question  \
0             For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory
1  No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves
2                     The city of Yuma in this state has a record average of 4,055 hours of sunshine each year
3                         In 1963, live on "The Art Linkletter Show", this company served its billionth burger
4     Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States

       answer  float_values
0  Copernicus         200.0
1  Jim Thorpe         200.0
2     Arizona         200.0
3  McDonald's         200.0
4  John Adams         200.0

5. Write a function that returns the count of unique answers to all of the questions in a dataset. For example, after filtering the entire dataset to only questions containing the word `"King"`, we could then find all of the unique answers to those questions. The answer "Henry VIII" appeared 55 times and was the most common answer.

In [44]:
def count_unique(data):
    return data['answer'].value_counts()

print(count_unique(filtered_data))

answer
Henry VIII                   55
Solomon                      35
Richard III                  33
Louis XIV                    31
David                        30
                             ..
cardiac (in card I acted)     1
Henderson                     1
Computer                      1
Indians                       1
work                          1
Name: count, Length: 5268, dtype: int64

6. Explore from here! This is an incredibly rich dataset, and there are so many interesting things to discover. There are a few columns that we haven't even started looking at yet. Here are some ideas on ways to continue working with this data:

 * Investigate the ways in which questions change over time by filtering by the date. How many questions from the 90s use the word `"Computer"` compared to questions from the 2000s?
 * Is there a connection between the round and the category? Are you more likely to find certain categories, like `"Literature"` in Single Jeopardy or Double Jeopardy?
 * Build a system to quiz yourself. Grab random questions, and use the <a href="https://docs.python.org/3/library/functions.html#input">input</a> function to get a response from the user. Check to see if that response was right or wrong.

In [17]:
def filter_questions(data, words):
    filter = lambda x:all(word.upper() in x.upper() for word in words) 

    return data.loc[data["question"].apply(filter)]

filtered_data = filter_questions(jeopardy, "Computer")

filtered_data['question']

# Filter by year
def filter_by_year(data, year):
    return data[data['air_date'].str.contains(str(year))]

filter_by_year(filtered_data, 2000)

3                                                                                                    In 1963, live on "The Art Linkletter Show", this company served its billionth burger
4                                                                                Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States
9                                                                                      This housewares store was named for the packaging its merchandise came in & was first displayed on
15                                                                           This company's Accutron watch, introduced in 1960, had a guarantee of accuracy to within one minute a  month
16                                                                                                   Outlaw: "Murdered by a traitor and a coward whose name is not worthy to appear here"
                                                                                               ...
216922                                                                    A motto of hers was "in politics, if you want anything said, ask a man; if you want anything done, ask a woman"
216924    In 2006 the cast of this long-running hit embarked on <a href="http://www.j-archive.com/media/2006-05-11_DJ_26.wmv">an exuberant & noisy campaign</a> to clean up New York City
216926                                                                            In North America this term is properly applied to only 4 species that are crested, including the tufted
216927                                                                          In Penny Lane, where this "Hellraiser" grew up, the barber shaves another customer--then flays him alive!
216928                                                             From Ft. Sill, Okla. he made the plea, Arizona is my land, my home, my father's land, to which I now ask to... return"
Name: question, Length: 85972, dtype: object

## Solution

7. Compare your program to our <a href="https://content.codecademy.com/PRO/independent-practice-projects/jeopardy/jeopardy_solution.zip">sample solution code</a> - remember, that your program might look different from ours (and probably will) and that's okay!

8. Great work! Visit <a href="https://discuss.codecademy.com/t/this-is-jeopardy-challenge-project-python-pandas/462365">our forums</a> to compare your project to our sample solution code. You can also learn how to host your own solution on GitHub so you can share it with other learners! Your solution might look different from ours, and that's okay! There are multiple ways to solve these projects, and you'll learn more by seeing others' code.